.chat {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 1rem;
  }
  &_message {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    &_body {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem;
      border-radius: 0.75rem;
      background-color: #2f2f2f;
    }
    &_text {
      display: inline-block;
      text-align: right;
      color: #fff;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
  &_messages {
    height: 100%;
    padding-right: 1rem;
    padding-top: 0.75rem;
    margin-top: 0.75rem;
    overflow-y: scroll;
    border-top: 0.5px solid #2f2f2f;
    scrollbar-width: thin;
    scrollbar-color: #2f2f2f #2f2f2f;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: #2f2f2f;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2f2f2f;
      border-radius: 0.5rem;
    }
  }
  &_input {
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    background-color: #2f2f2f;
    outline: none;
  }
  &_button {
    padding: 0.75rem;
    margin-left: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: #2f2f2f;
  }
}
